<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include include/header %>

<div class="container" style="padding: 0px; margin-top: 5px;">
    <div class="block">
        <%if (message) { %>
        <div class="alert alert-danger fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <%= message %>
        </div>
        <% } %>

        <form id="reg_form" action="/forgot-password" method="post" autocomplete="off">
            <table style="width: 450px; margin: auto;" class="tabla">
                <tbody>
                <tr>
                    <td colspan="2"><b>Please enter your account email</b></td>
                </tr>
                <tr style="height: 20px;"><td></td></tr>
                <tr>
                    <td style="width: 200px;">E-mail:</td>
                    <td style="width: 250px;">
                        <input type="email" name="email" maxlength="64" class="reg_input" value="" required>
                        <div id="em-regcheck" class="reghelp"></div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" colspan="2">
                        <button class="button center" type="submit" style="display: inline-block;">Submit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<% include include/footer %>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script language="javascript" src="js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $("ul.menu").find("a").each(function() {
            $(this)[0].className = '';
        })
    })
</script>
</html>
