<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/global.css'/>
</head>
<body>
    <div class="inner-wrap">
        <% include include/header %>
        <div class="main-content-wrapper content js-main-content-wrapper ">
            <%if (message && message != "") { %>
                <div class="alert alert-success fade in alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <%= message %>
                </div>
            <% } %>
        </div>

        <% include include/footer %>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script language="javascript" src="js/bootstrap.min.js"></script>
<script src="/javascripts/lib/canvasjs.min.js"></script>


<script>
    $(document).ready(function() {
        $("ul.menu").find("a").each(function() {
            $(this)[0].className = '';
        })

        $("ul.menu").find("a").eq(0).addClass("menuhover main-s main-s-navhover_bg");

        
    })
</script>
</html>
