<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <% include include/header %>

    <div class="container" style="padding: 0px; margin-top: 5px;">
        <div style="width: 680px; float: left;">
            <div class="block">
                <h3 class="margin-top-0">Latest news:</h3>

                <table class="tabla" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 70px;"><b>31/10/17</b></td>
                            <td><a href="https://wex.nz/news/4">WEX token</a></td>
                            <td style="width: 40px;" class="small"><a href="https://wex.nz/news/4">
                                <img style="margin-right: 4px" src="https://wex.nz/images/1px.png" class="main-s main-s-comm" alt="comm">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 70px;"><b>12/10/17</b></td>
                            <td><a href="https://wex.nz/news/3">Segwit2x</a></td>
                            <td style="width: 40px;" class="small"><a href="https://wex.nz/news/3">
                                    <img style="margin-right: 4px" src="https://wex.nz/images/1px.png" class="main-s main-s-comm" alt="comm">0</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="block">
                <ul class="pairs padding-0" style="display: inline-block;">
                    <li class="pairs-selected">BTC/USD<span style="display:block" id="last1">7076.999</span></li>
                    <li><a href="https://wex.nz/exchange/btc_rur">BTC/RUR<span style="display:block" id="last17">408557.61093</span></a></li>
                    <li><a href="https://wex.nz/exchange/btc_eur">BTC/EUR<span style="display:block" id="last19">6170.15685</span></a></li>
                    <li><a href="https://wex.nz/exchange/ltc_btc">LTC/BTC<span style="display:block" id="last10">0.00755</span></a></li>
                    <li><a href="https://wex.nz/exchange/ltc_usd">LTC/USD<span style="display:block" id="last14">53.248727</span></a></li>
                    <li><a href="https://wex.nz/exchange/ltc_rur">LTC/RUR<span style="display:block" id="last21">3063.1751</span></a></li>
                    <li><a href="https://wex.nz/exchange/ltc_eur">LTC/EUR<span style="display:block" id="last27">46.5</span></a></li>
                    <li><a href="https://wex.nz/exchange/nmc_btc">NMC/BTC<span style="display:block" id="last13">0.00018</span></a></li>
                    <li><a href="https://wex.nz/exchange/nmc_usd">NMC/USD<span style="display:block" id="last28">1.214</span></a></li>
                    <li><a href="https://wex.nz/exchange/nvc_btc">NVC/BTC<span style="display:block" id="last22">0.00076</span></a></li>
                    <li><a href="https://wex.nz/exchange/nvc_usd">NVC/USD<span style="display:block" id="last29">5.4</span></a></li>
                    <li><a href="https://wex.nz/exchange/usd_rur">USD/RUR<span style="display:block" id="last18">57.85697</span></a></li>
                    <li><a href="https://wex.nz/exchange/eur_usd">EUR/USD<span style="display:block" id="last20">1.14709</span></a></li>
                    <li><a href="https://wex.nz/exchange/eur_rur">EUR/RUR<span style="display:block" id="last32">66.4029</span></a></li>
                    <li><a href="https://wex.nz/exchange/ppc_btc">PPC/BTC<span style="display:block" id="last24">0.00018</span></a></li>
                    <li><a href="https://wex.nz/exchange/ppc_usd">PPC/USD<span style="display:block" id="last31">1.286</span></a></li>
                    <li><a href="https://wex.nz/exchange/dsh_btc">DSH/BTC<span style="display:block" id="last39">0.0372</span></a></li>
                    <li><a href="https://wex.nz/exchange/dsh_usd">DSH/USD<span style="display:block" id="last44">262.98694</span></a></li>
                    <li><a href="https://wex.nz/exchange/dsh_rur">DSH/RUR<span style="display:block" id="last46">15246.536</span></a></li>
                    <li><a href="https://wex.nz/exchange/dsh_eur">DSH/EUR<span style="display:block" id="last47">229.929</span></a></li>
                    <li><a href="https://wex.nz/exchange/dsh_ltc">DSH/LTC<span style="display:block" id="last48">4.958</span></a></li>
                    <li><a href="https://wex.nz/exchange/dsh_eth">DSH/ETH<span style="display:block" id="last49">0.906</span></a></li>
                    <li><a href="https://wex.nz/exchange/eth_btc">ETH/BTC<span style="display:block" id="last40">0.04129</span></a></li>
                    <li><a href="https://wex.nz/exchange/eth_usd">ETH/USD<span style="display:block" id="last41">290.93597</span></a></li>
                    <li><a href="https://wex.nz/exchange/eth_eur">ETH/EUR<span style="display:block" id="last45">253</span></a></li>
                    <li><a href="https://wex.nz/exchange/eth_ltc">ETH/LTC<span style="display:block" id="last42">5.45556</span></a></li>
                    <li><a href="https://wex.nz/exchange/eth_rur">ETH/RUR<span style="display:block" id="last43">16757.41287</span></a></li>
                    <li><a href="https://wex.nz/exchange/bch_usd">BCH/USD<span style="display:block" id="last61">540.3</span></a></li>
                    <li><a href="https://wex.nz/exchange/bch_btc">BCH/BTC<span style="display:block" id="last62">0.0761</span></a></li>
                    <li><a href="https://wex.nz/exchange/zec_btc">ZEC/BTC<span style="display:block" id="last63">0.031</span></a></li>
                    <li><a href="https://wex.nz/exchange/zec_usd">ZEC/USD<span style="display:block" id="last64">220</span></a></li>
                </ul>

                <div id="chat_div" style="height: 200px;">
                </div>

                <div class="inblock" style="width: 315px; float: left;">
                    <h1 class="margin-top-0">Buy BTC</h1>

                    <div class="inblock order_header">
                        <div style="width: 130px; float: left;">Your balance:
                            <p class="margin-0">
                                <a href="javascript:void(0)" onclick="a_calc(1)">
                                    <b>
                                        <span id="cur1" class="money_usd">0</span>
                                        <input type="hidden" id="cur1_full" value="0"> USD
                                    </b>
                                </a>
                            </p>
                        </div>

                        <div style="width: 130px; float: right;">Lowest ask Price
                            <p  class="margin-top-0"><b><span id="min_price">7059.001</span> USD</b></p>
                        </div>

                        <div class="clear"></div>
                    </div>

                    <table class="inblock tabla2" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 150px;">Amount BTC:</td>
                                <td style="width: 153px;"><input id="b_btc" style="width: 90px;" maxlength="25" type="text" value="0" onkeyup="usd_calc(); comm_replace(this);"></td>
                            </tr>
                            <tr class="price-row">
                                <td>Price per BTC:</td>
                                <td><input id="b_price" style="width: 90px;" type="text" maxlength="8" value="7059.001" onkeyup="usd_calc(); comm_replace(this);"> USD</td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td><b id="b_all">0</b> <b>USD</b></td>
                            </tr>
                            <tr>
                                <td>Fee:</td>
                                <td><b id="b_fee">0</b> <b>BTC</b></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border-top: 1px solid #dadada; margin-top: 10px;">
                                    <div id="b_comm" style="padding: 4px; height: 30px;">Click to sum your order.</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="javascript:void(0)" onclick="ex_calculate()" class="button" style="float: left;">Calculate</a>
                                    <div id="b_loading" class="order_calc_load"></div>
                                    <a href="javascript:void(0)" onclick="ex_trade()" class="button" style="float: right; width:115px">Buy BTC</a>
                                    <div id="b_error" class="order_error main-s main-s-trade_error"></div>
                                    <div class="clear"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inblock">
                        <img class="orders-loading" src="/images/loading.gif" alt="loading">

                        <h3>Sell orders</h3>

                        <div id="orders-s-list">
                            <p class="gray" style="text-align: right;">Total: 1941.46 BTC</p>

                            <div id="orders_1" style="overflow-y: auto; overflow-x: hidden; max-height: 485px;">
                                <table class="table" style="width: 99%" id="sell_orders">
                                    <tbody>
                                        <tr>
                                            <th>price</th>
                                            <th>BTC</th>
                                            <th>USD</th>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7059_001"
                                            onclick="set_price(1,7059.001,0.05614889,396.35507065)"
                                            title="Total BTC: 0.05614889, Total USD: 396.35507065">
                                            <td><span class="price">7059.001</span></td>
                                            <td><span class="amount">0.05614889</span></td>
                                            <td><span class="sum">396.35507065</span></td>
                                        </tr>
                                        <tr class="order" id="7076_999"
                                            onclick="set_price(1,7076.999,0.29493644,2086.25432321)"
                                            title="Total BTC: 0.29493644, Total USD: 2086.25432321">
                                            <td><span class="price">7076.999</span></td>
                                            <td><span class="amount">0.23878755</span></td>
                                            <td><span class="sum">1689.89925256</span></td>
                                        </tr>
                                        <tr class="order" id="7077" onclick="set_price(1,7077,1.43571544,10159.54730621)"
                                            title="Total BTC: 1.43571544, Total USD: 10159.54730621">
                                            <td><span class="price">7077</span></td>
                                            <td><span class="amount">1.140779</span></td>
                                            <td><span class="sum">8073.292983</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7080"
                                            onclick="set_price(1,7080,1.43671544,10166.62730621)"
                                            title="Total BTC: 1.43671544, Total USD: 10166.62730621">
                                            <td><span class="price">7080</span></td>
                                            <td><span class="amount">0.001</span></td>
                                            <td><span class="sum">7.08</span></td>
                                        </tr>
                                        <tr class="order" id="7081_28"
                                            onclick="set_price(1,7081.28,1.71971626,12170.63535285)"
                                            title="Total BTC: 1.71971626, Total USD: 12170.63535285">
                                            <td><span class="price">7081.28</span></td>
                                            <td><span class="amount">0.28300082</span></td>
                                            <td><span class="sum">2004.00804664</span></td>
                                        </tr>
                                        <tr class="order" id="7081_281"
                                            onclick="set_price(1,7081.281,3.64467993,25801.84401491)"
                                            title="Total BTC: 3.64467993, Total USD: 25801.84401491">
                                            <td><span class="price">7081.281</span></td>
                                            <td><span class="amount">1.92496367</span></td>
                                            <td><span class="sum">13631.20866206</span></td>
                                        </tr>
                                        <tr class="order" id="7083_385"
                                            onclick="set_price(1,7083.385,4.72724096,33470.04057639)"
                                            title="Total BTC: 4.72724096, Total USD: 33470.04057639">
                                            <td><span class="price">7083.385</span></td>
                                            <td><span class="amount">1.08256103</span></td>
                                            <td><span class="sum">7668.19656148</span></td>
                                        </tr>
                                        <tr class="order" id="7090_643"
                                            onclick="set_price(1,7090.643,4.9326726,34926.68299653)"
                                            title="Total BTC: 4.9326726, Total USD: 34926.68299653">
                                            <td><span class="price">7090.643</span></td>
                                            <td><span class="amount">0.20543164</span></td>
                                            <td><span class="sum">1456.64242014</span></td>
                                        </tr>
                                        <tr class="order" id="7090_694"
                                            onclick="set_price(1,7090.694,5.27412116,37347.79025223)"
                                            title="Total BTC: 5.27412116, Total USD: 37347.79025223">
                                            <td><span class="price">7090.694</span></td>
                                            <td><span class="amount">0.34144856</span></td>
                                            <td><span class="sum">2421.1072557</span></td>
                                        </tr>
                                        <tr class="order" id="7091_744"
                                            onclick="set_price(1,7091.744,7.23360299,51243.93376324)"
                                            title="Total BTC: 7.23360299, Total USD: 51243.93376324">
                                            <td><span class="price">7091.744</span></td>
                                            <td><span class="amount">1.95948183</span></td>
                                            <td><span class="sum">13896.14351101</span></td>
                                        </tr>
                                        <tr class="order" id="7095_544"
                                            onclick="set_price(1,7095.544,8.1479638,57731.82112247)"
                                            title="Total BTC: 8.1479638, Total USD: 57731.82112247">
                                            <td><span class="price">7095.544</span></td>
                                            <td><span class="amount">0.91436081</span></td>
                                            <td><span class="sum">6487.88735923</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7096_049"
                                            onclick="set_price(1,7096.049,8.1513144,57755.59714424)"
                                            title="Total BTC: 8.1513144, Total USD: 57755.59714424">
                                            <td><span class="price">7096.049</span></td>
                                            <td><span class="amount">0.0033506</span></td>
                                            <td><span class="sum">23.77602177</span></td>
                                        </tr>
                                        <tr class="order" id="7097_778"
                                            onclick="set_price(1,7097.778,8.49276296,60179.12322153)"
                                            title="Total BTC: 8.49276296, Total USD: 60179.12322153">
                                            <td><span class="price">7097.778</span></td>
                                            <td><span class="amount">0.34144856</span></td>
                                            <td><span class="sum">2423.52607729</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7100"
                                            onclick="set_price(1,7100,8.49376296,60186.22322153)"
                                            title="Total BTC: 8.49376296, Total USD: 60186.22322153">
                                            <td><span class="price">7100</span></td>
                                            <td><span class="amount">0.001</span></td>
                                            <td><span class="sum">7.1</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7103_862"
                                            onclick="set_price(1,7103.862,8.50365829,60256.51828029)"
                                            title="Total BTC: 8.50365829, Total USD: 60256.51828029">
                                            <td><span class="price">7103.862</span></td>
                                            <td><span class="amount">0.00989533</span></td>
                                            <td><span class="sum">70.29505876</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7103_863"
                                            onclick="set_price(1,7103.863,8.52016765,60373.79851194)"
                                            title="Total BTC: 8.52016765, Total USD: 60373.79851194">
                                            <td><span class="price">7103.863</span></td>
                                            <td><span class="amount">0.01650936</span></td>
                                            <td><span class="sum">117.28023165</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7107_008"
                                            onclick="set_price(1,7107.008,8.52582093,60413.97641812)"
                                            title="Total BTC: 8.52582093, Total USD: 60413.97641812">
                                            <td><span class="price">7107.008</span></td>
                                            <td><span class="amount">0.00565328</span></td>
                                            <td><span class="sum">40.17790618</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7107_009"
                                            onclick="set_price(1,7107.009,8.54578093,60555.83231776)"
                                            title="Total BTC: 8.54578093, Total USD: 60555.83231776">
                                            <td><span class="price">7107.009</span></td>
                                            <td><span class="amount">0.01996</span></td>
                                            <td><span class="sum">141.85589964</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7108_766"
                                            onclick="set_price(1,7108.766,8.55143173,60596.00253267)"
                                            title="Total BTC: 8.55143173, Total USD: 60596.00253267">
                                            <td><span class="price">7108.766</span></td>
                                            <td><span class="amount">0.0056508</span></td>
                                            <td><span class="sum">40.17021491</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7108_767"
                                            onclick="set_price(1,7108.767,8.56143173,60667.09020267)"
                                            title="Total BTC: 8.56143173, Total USD: 60667.09020267">
                                            <td><span class="price">7108.767</span></td>
                                            <td><span class="amount">0.01</span></td>
                                            <td><span class="sum">71.08767</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7115_579"
                                            onclick="set_price(1,7115.579,8.56425553,60687.18317465)"
                                            title="Total BTC: 8.56425553, Total USD: 60687.18317465">
                                            <td><span class="price">7115.579</span></td>
                                            <td><span class="amount">0.0028238</span></td>
                                            <td><span class="sum">20.09297198</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7115_58"
                                            onclick="set_price(1,7115.58,8.56533908,60694.89326135)"
                                            title="Total BTC: 8.56533908, Total USD: 60694.89326135">
                                            <td><span class="price">7115.58</span></td>
                                            <td><span class="amount">0.00108355</span></td>
                                            <td><span class="sum">7.7100867</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7119_999"
                                            onclick="set_price(1,7119.999,8.59497098,60905.87235971)"
                                            title="Total BTC: 8.59497098, Total USD: 60905.87235971">
                                            <td><span class="price">7119.999</span></td>
                                            <td><span class="amount">0.0296319</span></td>
                                            <td><span class="sum">210.97909836</span></td>
                                        </tr>
                                        <tr class="order" id="7120" onclick="set_price(1,7120,9.33381226,66166.42227331)"
                                            title="Total BTC: 9.33381226, Total USD: 66166.42227331">
                                            <td><span class="price">7120</span></td>
                                            <td><span class="amount">0.73884128</span></td>
                                            <td><span class="sum">5260.5499136</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7120_001"
                                            onclick="set_price(1,7120.001,9.34408972,66239.59779878)"
                                            title="Total BTC: 9.34408972, Total USD: 66239.59779878">
                                            <td><span class="price">7120.001</span></td>
                                            <td><span class="amount">0.01027746</span></td>
                                            <td><span class="sum">73.17552547</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7123_723"
                                            onclick="set_price(1,7123.723,9.35113735,66289.8031627)"
                                            title="Total BTC: 9.35113735, Total USD: 66289.8031627">
                                            <td><span class="price">7123.723</span></td>
                                            <td><span class="amount">0.00704763</span></td>
                                            <td><span class="sum">50.20536392</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7123_9"
                                            onclick="set_price(1,7123.9,9.3522185,66297.50516718)"
                                            title="Total BTC: 9.3522185, Total USD: 66297.50516718">
                                            <td><span class="price">7123.9</span></td>
                                            <td><span class="amount">0.00108115</span></td>
                                            <td><span class="sum">7.70200448</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7128_699"
                                            onclick="set_price(1,7128.699,9.37613981,66468.03298585)"
                                            title="Total BTC: 9.37613981, Total USD: 66468.03298585">
                                            <td><span class="price">7128.699</span></td>
                                            <td><span class="amount">0.02392131</span></td>
                                            <td><span class="sum">170.52781867</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7128_7"
                                            onclick="set_price(1,7128.7,9.43601981,66894.89954185)"
                                            title="Total BTC: 9.43601981, Total USD: 66894.89954185">
                                            <td><span class="price">7128.7</span></td>
                                            <td><span class="amount">0.05988</span></td>
                                            <td><span class="sum">426.866556</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7128_725"
                                            onclick="set_price(1,7128.725,9.43738096,66904.60280588)"
                                            title="Total BTC: 9.43738096, Total USD: 66904.60280588">
                                            <td><span class="price">7128.725</span></td>
                                            <td><span class="amount">0.00136115</span></td>
                                            <td><span class="sum">9.70326403</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7128_726"
                                            onclick="set_price(1,7128.726,9.45381551,67021.76020976)"
                                            title="Total BTC: 9.45381551, Total USD: 67021.76020976">
                                            <td><span class="price">7128.726</span></td>
                                            <td><span class="amount">0.01643455</span></td>
                                            <td><span class="sum">117.15740388</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7129_999"
                                            onclick="set_price(1,7129.999,9.45522368,67031.80046045)"
                                            title="Total BTC: 9.45522368, Total USD: 67031.80046045">
                                            <td><span class="price">7129.999</span></td>
                                            <td><span class="amount">0.00140817</span></td>
                                            <td><span class="sum">10.04025069</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7130"
                                            onclick="set_price(1,7130,9.54766861,67690.93281135)"
                                            title="Total BTC: 9.54766861, Total USD: 67690.93281135">
                                            <td><span class="price">7130</span></td>
                                            <td><span class="amount">0.09244493</span></td>
                                            <td><span class="sum">659.1323509</span></td>
                                        </tr>
                                        <tr class="order" id="7131_331"
                                            onclick="set_price(1,7131.331,12.54766861,89084.92581135)"
                                            title="Total BTC: 12.54766861, Total USD: 89084.92581135">
                                            <td><span class="price">7131.331</span></td>
                                            <td><span class="amount">3</span></td>
                                            <td><span class="sum">21393.993</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7138_68"
                                            onclick="set_price(1,7138.68,12.56314793,89195.42772344)"
                                            title="Total BTC: 12.56314793, Total USD: 89195.42772344">
                                            <td><span class="price">7138.68</span></td>
                                            <td><span class="amount">0.01547932</span></td>
                                            <td><span class="sum">110.50191209</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7139_999"
                                            onclick="set_price(1,7139.999,12.57158565,89255.6730358)"
                                            title="Total BTC: 12.57158565, Total USD: 89255.6730358">
                                            <td><span class="price">7139.999</span></td>
                                            <td><span class="amount">0.00843772</span></td>
                                            <td><span class="sum">60.24531236</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7140"
                                            onclick="set_price(1,7140,12.6020506,89473.1927788)"
                                            title="Total BTC: 12.6020506, Total USD: 89473.1927788">
                                            <td><span class="price">7140</span></td>
                                            <td><span class="amount">0.03046495</span></td>
                                            <td><span class="sum">217.519743</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7141_03"
                                            onclick="set_price(1,7141.03,12.60767476,89513.35507408)"
                                            title="Total BTC: 12.60767476, Total USD: 89513.35507408">
                                            <td><span class="price">7141.03</span></td>
                                            <td><span class="amount">0.00562416</span></td>
                                            <td><span class="sum">40.16229528</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7141_033"
                                            onclick="set_price(1,7141.033,12.61201126,89544.32216368)"
                                            title="Total BTC: 12.61201126, Total USD: 89544.32216368">
                                            <td><span class="price">7141.033</span></td>
                                            <td><span class="amount">0.0043365</span></td>
                                            <td><span class="sum">30.9670896</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7141_999"
                                            onclick="set_price(1,7141.999,12.61337241,89554.04349561)"
                                            title="Total BTC: 12.61337241, Total USD: 89554.04349561">
                                            <td><span class="price">7141.999</span></td>
                                            <td><span class="amount">0.00136115</span></td>
                                            <td><span class="sum">9.72133193</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inblock" style="width: 315px; float: right;">
                    <h1 class="margin-top-0">Sell BTC</h1>

                    <div class="inblock order_header">
                        <div style="width: 130px; float: left;">Your balance:
                            <p>
                                <a href="javascript:void(0)" onclick="all_money()">
                                    <b>
                                        <span id="cur2" class="money_btc">0</span><input type="hidden" id="cur2_full" value="0"> BTC
                                    </b>
                                </a>
                            </p>
                        </div>
                        <div style="width: 130px; float: right;">Highest Bid Price<p><b><span id="max_price">7059</span> USD</b></p></div>
                        <div class="clear"></div>
                    </div>

                    <table class="inblock tabla2" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 150px;">Amount BTC:</td>
                                <td style="width: 153px;"><input id="s_btc" style="width: 90px;" maxlength="25" type="text" value="0" onkeyup="usd_calc(); comm_replace(this);"></td>
                            </tr>
                            <tr class="price-row">
                                <td>Price per BTC:</td>
                                <td><input id="s_price" style="width: 90px;" type="text" maxlength="8" value="7059" onkeyup="usd_calc(); comm_replace(this);"> USD</td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td><b id="s_all">0</b> <b>USD</b></td>
                            </tr>
                            <tr>
                                <td>Fee:</td>
                                <td><b id="s_fee">0</b> <b>USD</b></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border-top: 1px solid #dadada; margin-top: 10px;">
                                    <div id="s_comm" style="padding: 4px; height: 30px;">Click to sum your order.</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="javascript:void(0)" onclick="ex_calculate()" class="button" style="float: left;">Calculate</a>
                                    <div id="s_loading" class="order_calc_load"></div>
                                    <a href="javascript:void(0)" onclick="ex_trade()" class="button" style="float: right; width:115px">Sell BTC</a>
                                    <div id="s_error" class="order_error main-s main-s-trade_error"></div>
                                    <div class="clear"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inblock">
                        <img class="orders-loading" src="https://wex.nz/images/loading.gif" alt="loading">
                        <h3>Buy orders</h3>
                        <div id="orders-b-list"><p class="gray" style="text-align: right;">Total: 7194459.16 USD</p>
                            <div id="orders_2" style="overflow-y: auto; overflow-x: hidden; max-height: 485px;">
                                <table class="table" style="width: 99%" id="buy_orders">
                                    <tbody>
                                        <tr>
                                            <th>price</th>
                                            <th>BTC</th>
                                            <th>USD</th>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7163_13"
                                            onclick="set_price(2,7163.13,0.00186907,13.38839138)"
                                            title="Total BTC: 0.00186907, Total USD: 13.38839138">
                                            <td><span class="price">7163.13</span></td>
                                            <td><span class="amount">0.00186907</span></td>
                                            <td><span class="sum">13.38839138</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7155_24"
                                            onclick="set_price(2,7155.24,0.0029438,21.07834246)"
                                            title="Total BTC: 0.0029438, Total USD: 21.07834246">
                                            <td><span class="price">7155.24</span></td>
                                            <td><span class="amount">0.00107473</span></td>
                                            <td><span class="sum">7.68995108</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7151_001"
                                            onclick="set_price(2,7151.001,0.00394508,28.23849674)"
                                            title="Total BTC: 0.00394508, Total USD: 28.23849674">
                                            <td><span class="price">7151.001</span></td>
                                            <td><span class="amount">0.00100128</span></td>
                                            <td><span class="sum">7.16015428</span></td>
                                        </tr>
                                        <tr class="order" style="font-weight:bold" id="7151"
                                            onclick="set_price(2,7151,0.96816848,6923.40003014)"
                                            title="Total BTC: 0.96816848, Total USD: 6923.40003014">
                                            <td><span class="price">7151</span></td>
                                            <td><span class="amount">0.9642234</span></td>
                                            <td><span class="sum">6895.1615334</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7150_751"
                                            onclick="set_price(2,7150.751,0.9691452,6930.38431165)"
                                            title="Total BTC: 0.9691452, Total USD: 6930.38431165">
                                            <td><span class="price">7150.751</span></td>
                                            <td><span class="amount">0.00097672</span></td>
                                            <td><span class="sum">6.98428151</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7150"
                                            onclick="set_price(2,7150,0.99600428,7122.42673365)"
                                            title="Total BTC: 0.99600428, Total USD: 7122.42673365">
                                            <td><span class="price">7150</span></td>
                                            <td><span class="amount">0.02685908</span></td>
                                            <td><span class="sum">192.042422</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7146_554"
                                            onclick="set_price(2,7146.554,1.00475711,7184.97930589)"
                                            title="Total BTC: 1.00475711, Total USD: 7184.97930589">
                                            <td><span class="price">7146.554</span></td>
                                            <td><span class="amount">0.00875283</span></td>
                                            <td><span class="sum">62.55257224</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7145_191"
                                            onclick="set_price(2,7145.191,1.00643656,7196.97929691)"
                                            title="Total BTC: 1.00643656, Total USD: 7196.97929691">
                                            <td><span class="price">7145.191</span></td>
                                            <td><span class="amount">0.00167945</span></td>
                                            <td><span class="sum">11.99999102</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7143_496"
                                            onclick="set_price(2,7143.496,1.01852321,7283.32023283)"
                                            title="Total BTC: 1.01852321, Total USD: 7283.32023283">
                                            <td><span class="price">7143.496</span></td>
                                            <td><span class="amount">0.01208665</span></td>
                                            <td><span class="sum">86.34093592</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7142_647"
                                            onclick="set_price(2,7142.647,1.02188329,7307.32009816)"
                                            title="Total BTC: 1.02188329, Total USD: 7307.32009816">
                                            <td><span class="price">7142.647</span></td>
                                            <td><span class="amount">0.00336008</span></td>
                                            <td><span class="sum">23.99986533</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7142_646"
                                            onclick="set_price(2,7142.646,1.04916489,7502.18290927)"
                                            title="Total BTC: 1.04916489, Total USD: 7502.18290927">
                                            <td><span class="price">7142.646</span></td>
                                            <td><span class="amount">0.0272816</span></td>
                                            <td><span class="sum">194.86281111</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7142_23"
                                            onclick="set_price(2,7142.23,1.05024158,7509.87287688)"
                                            title="Total BTC: 1.05024158, Total USD: 7509.87287688">
                                            <td><span class="price">7142.23</span></td>
                                            <td><span class="amount">0.00107669</span></td>
                                            <td><span class="sum">7.68996761</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7141_64"
                                            onclick="set_price(2,7141.64,1.05406777,7537.19814843)"
                                            title="Total BTC: 1.05406777, Total USD: 7537.19814843">
                                            <td><span class="price">7141.64</span></td>
                                            <td><span class="amount">0.00382619</span></td>
                                            <td><span class="sum">27.32527155</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7140_005"
                                            onclick="set_price(2,7140.005,1.05742911,7561.19813283)"
                                            title="Total BTC: 1.05742911, Total USD: 7561.19813283">
                                            <td><span class="price">7140.005</span></td>
                                            <td><span class="amount">0.00336134</span></td>
                                            <td><span class="sum">23.9999844</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7140_003"
                                            onclick="set_price(2,7140.003,1.06247112,7597.19809935)"
                                            title="Total BTC: 1.06247112, Total USD: 7597.19809935">
                                            <td><span class="price">7140.003</span></td>
                                            <td><span class="amount">0.00504201</span></td>
                                            <td><span class="sum">35.99996652</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7140_001"
                                            onclick="set_price(2,7140.001,1.07087447,7657.19802675)"
                                            title="Total BTC: 1.07087447, Total USD: 7657.19802675">
                                            <td><span class="price">7140.001</span></td>
                                            <td><span class="amount">0.00840335</span></td>
                                            <td><span class="sum">59.9999274</span></td>
                                        </tr>
                                        <tr class="order" id="7140" onclick="set_price(2,7140,1.17457478,8397.61824015)"
                                            title="Total BTC: 1.17457478, Total USD: 8397.61824015">
                                            <td><span class="price">7140</span></td>
                                            <td><span class="amount">0.10370031</span></td>
                                            <td><span class="sum">740.4202134</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7136_821"
                                            onclick="set_price(2,7136.821,1.18536388,8474.6181156)"
                                            title="Total BTC: 1.18536388, Total USD: 8474.6181156">
                                            <td><span class="price">7136.821</span></td>
                                            <td><span class="amount">0.0107891</span></td>
                                            <td><span class="sum">76.99987545</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7135_774"
                                            onclick="set_price(2,7135.774,1.19152996,8518.61786894)"
                                            title="Total BTC: 1.19152996, Total USD: 8518.61786894">
                                            <td><span class="price">7135.774</span></td>
                                            <td><span class="amount">0.00616608</span></td>
                                            <td><span class="sum">43.99975334</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7135_773"
                                            onclick="set_price(2,7135.773,1.20483967,8613.59293819)"
                                            title="Total BTC: 1.20483967, Total USD: 8613.59293819">
                                            <td><span class="price">7135.773</span></td>
                                            <td><span class="amount">0.01330971</span></td>
                                            <td><span class="sum">94.97506925</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7129_24"
                                            onclick="set_price(2,7129.24,1.22783967,8777.56545819)"
                                            title="Total BTC: 1.22783967, Total USD: 8777.56545819">
                                            <td><span class="price">7129.24</span></td>
                                            <td><span class="amount">0.023</span></td>
                                            <td><span class="sum">163.97252</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7129_23"
                                            onclick="set_price(2,7129.23,1.22891832,8785.25540212)"
                                            title="Total BTC: 1.22891832, Total USD: 8785.25540212">
                                            <td><span class="price">7129.23</span></td>
                                            <td><span class="amount">0.00107865</span></td>
                                            <td><span class="sum">7.68994393</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7127_612"
                                            onclick="set_price(2,7127.612,1.22992132,8792.40439695)"
                                            title="Total BTC: 1.22992132, Total USD: 8792.40439695">
                                            <td><span class="price">7127.612</span></td>
                                            <td><span class="amount">0.001003</span></td>
                                            <td><span class="sum">7.14899483</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7127_532"
                                            onclick="set_price(2,7127.532,1.23763787,8847.404354)"
                                            title="Total BTC: 1.23763787, Total USD: 8847.404354">
                                            <td><span class="price">7127.532</span></td>
                                            <td><span class="amount">0.00771655</span></td>
                                            <td><span class="sum">54.99995705</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7127_518"
                                            onclick="set_price(2,7127.518,1.23918118,8858.4043238)"
                                            title="Total BTC: 1.23918118, Total USD: 8858.4043238">
                                            <td><span class="price">7127.518</span></td>
                                            <td><span class="amount">0.00154331</span></td>
                                            <td><span class="sum">10.9999698</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7127_516"
                                            onclick="set_price(2,7127.516,1.25383882,8962.87688742)"
                                            title="Total BTC: 1.25383882, Total USD: 8962.87688742">
                                            <td><span class="price">7127.516</span></td>
                                            <td><span class="amount">0.01465764</span></td>
                                            <td><span class="sum">104.47256362</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7123_001"
                                            onclick="set_price(2,7123.001,1.2555235,8974.87686474)"
                                            title="Total BTC: 1.2555235, Total USD: 8974.87686474">
                                            <td><span class="price">7123.001</span></td>
                                            <td><span class="amount">0.00168468</span></td>
                                            <td><span class="sum">11.99997732</span></td>
                                        </tr>
                                        <tr class="order" id="7123" onclick="set_price(2,7123,1.43159708,10229.04897508)"
                                            title="Total BTC: 1.43159708, Total USD: 10229.04897508">
                                            <td><span class="price">7123</span></td>
                                            <td><span class="amount">0.17607358</span></td>
                                            <td><span class="sum">1254.17211034</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7122_012"
                                            onclick="set_price(2,7122.012,1.43328199,10241.04892431)"
                                            title="Total BTC: 1.43328199, Total USD: 10241.04892431">
                                            <td><span class="price">7122.012</span></td>
                                            <td><span class="amount">0.00168491</span></td>
                                            <td><span class="sum">11.99994923</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7121_628"
                                            onclick="set_price(2,7121.628,1.44978452,10358.57380402)"
                                            title="Total BTC: 1.44978452, Total USD: 10358.57380402">
                                            <td><span class="price">7121.628</span></td>
                                            <td><span class="amount">0.01650253</span></td>
                                            <td><span class="sum">117.52487971</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7120"
                                            onclick="set_price(2,7120,1.45078812,10365.71943602)"
                                            title="Total BTC: 1.45078812, Total USD: 10365.71943602">
                                            <td><span class="price">7120</span></td>
                                            <td><span class="amount">0.0010036</span></td>
                                            <td><span class="sum">7.145632</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7119_408"
                                            onclick="set_price(2,7119.408,1.45181596,10373.03704833)"
                                            title="Total BTC: 1.45181596, Total USD: 10373.03704833">
                                            <td><span class="price">7119.408</span></td>
                                            <td><span class="amount">0.00102784</span></td>
                                            <td><span class="sum">7.31761231</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7118_88"
                                            onclick="set_price(2,7118.88,1.47309379,10524.51136676)"
                                            title="Total BTC: 1.47309379, Total USD: 10524.51136676">
                                            <td><span class="price">7118.88</span></td>
                                            <td><span class="amount">0.02127783</span></td>
                                            <td><span class="sum">151.47431843</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7118_647"
                                            onclick="set_price(2,7118.647,1.48923728,10639.43117341)"
                                            title="Total BTC: 1.48923728, Total USD: 10639.43117341">
                                            <td><span class="price">7118.647</span></td>
                                            <td><span class="amount">0.01614349</span></td>
                                            <td><span class="sum">114.91980665</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7118_005"
                                            onclick="set_price(2,7118.005,1.49230338,10661.25568854)"
                                            title="Total BTC: 1.49230338, Total USD: 10661.25568854">
                                            <td><span class="price">7118.005</span></td>
                                            <td><span class="amount">0.0030661</span></td>
                                            <td><span class="sum">21.82451513</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7116_22"
                                            onclick="set_price(2,7116.22,1.493384,10668.94561819)"
                                            title="Total BTC: 1.493384, Total USD: 10668.94561819">
                                            <td><span class="price">7116.22</span></td>
                                            <td><span class="amount">0.00108062</span></td>
                                            <td><span class="sum">7.68992965</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7116"
                                            onclick="set_price(2,7116,1.49626157,10689.42240631)"
                                            title="Total BTC: 1.49626157, Total USD: 10689.42240631">
                                            <td><span class="price">7116</span></td>
                                            <td><span class="amount">0.00287757</span></td>
                                            <td><span class="sum">20.47678812</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7114_471"
                                            onclick="set_price(2,7114.471,1.5853329,11323.11780052)"
                                            title="Total BTC: 1.5853329, Total USD: 11323.11780052">
                                            <td><span class="price">7114.471</span></td>
                                            <td><span class="amount">0.08907133</span></td>
                                            <td><span class="sum">633.69539421</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7114_461"
                                            onclick="set_price(2,7114.461,1.58997132,11356.11765871)"
                                            title="Total BTC: 1.58997132, Total USD: 11356.11765871">
                                            <td><span class="price">7114.461</span></td>
                                            <td><span class="amount">0.00463842</span></td>
                                            <td><span class="sum">32.99985819</span></td>
                                        </tr>
                                        <tr class="order" style="color:#606060" id="7114_445"
                                            onclick="set_price(2,7114.445,1.59418809,11386.11763695)"
                                            title="Total BTC: 1.59418809, Total USD: 11386.11763695">
                                            <td><span class="price">7114.445</span></td>
                                            <td><span class="amount">0.00421677</span></td>
                                            <td><span class="sum">29.99997824</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="inblock">
                    <h3>Your current active orders</h3>

                    <div id="orders-self-list">
                        <table class="table" style="width: 100%; margin-bottom: 0px;">
                            <tbody>
                            <tr>
                                <th style="width:30px">Type</th>
                                <th>Price</th>
                                <th>Amount BTC</th>
                                <th>Total USD</th>
                                <th style="width:110px">Date</th>
                                <th style="width:80px">Action</th>
                            </tr>
                            <tr>
                                <td colspan="6">No active orders at the moment.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="inblock">
                    <h3>Trade history:</h3>
                    <div id="trade_history" style="overflow:auto; max-height: 500px;">
                        <table class="table" style="width: 100%" id="last_trades">
                            <tbody>
                            <tr>
                                <th style="width: 110px">Date</th>
                                <th>Type</th>
                                <th>Price</th>
                                <th>Amount (BTC)</th>
                                <th>Total (USD)</th>
                            </tr>
                            <tr>
                                <td><span title="16 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:red">Sell</b></td>
                                <td>7163.43 USD</td>
                                <td>1.431<span style="color:#868686">7</span> BTC</td>
                                <td>10255.882<span style="color:#868686">731</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7187.45 USD</td>
                                <td>0.048<span style="color:#868686">2478</span> BTC</td>
                                <td>346.778<span style="color:#868686">65011</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7187.448 USD</td>
                                <td>0.002<span style="color:#868686">5</span> BTC</td>
                                <td>17.968<span style="color:#868686">62</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7187.3 USD</td>
                                <td>0.070<span style="color:#868686">81097</span> BTC</td>
                                <td>508.939<span style="color:#868686">68468</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7187.209 USD</td>
                                <td>0.001<span style="color:#868686">53688</span> BTC</td>
                                <td>11.045<span style="color:#868686">87776</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7187.209 USD</td>
                                <td>0.001<span style="color:#868686">53688</span> BTC</td>
                                <td>11.045<span style="color:#868686">87776</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7187.209 USD</td>
                                <td>0.001<span style="color:#868686">53688</span> BTC</td>
                                <td>11.045<span style="color:#868686">87776</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7187.139 USD</td>
                                <td>0.001<span style="color:#868686">67635</span> BTC</td>
                                <td>12.048<span style="color:#868686">16046</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7185.86 USD</td>
                                <td>0.002<span style="color:#868686">14946</span> BTC</td>
                                <td>15.445<span style="color:#868686">71863</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7185.859 USD</td>
                                <td>0.001<span style="color:#868686">67689</span> BTC</td>
                                <td>12.049<span style="color:#868686">89509</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7185.859 USD</td>
                                <td>0.001<span style="color:#868686">67689</span> BTC</td>
                                <td>12.049<span style="color:#868686">89509</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7185.859 USD</td>
                                <td>0.001<span style="color:#868686">67675</span> BTC</td>
                                <td>12.048<span style="color:#868686">88907</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7185.859 USD</td>
                                <td>0.001<span style="color:#868686">67689</span> BTC</td>
                                <td>12.049<span style="color:#868686">89509</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7185.808 USD</td>
                                <td>0.001<span style="color:#868686">67675</span> BTC</td>
                                <td>12.048<span style="color:#868686">80356</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7185.808 USD</td>
                                <td>0.001<span style="color:#868686">67689</span> BTC</td>
                                <td>12.049<span style="color:#868686">80957</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7184.594 USD</td>
                                <td>0.001<span style="color:#868686">53731</span> BTC</td>
                                <td>11.044<span style="color:#868686">9482</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7184.594 USD</td>
                                <td>0.001<span style="color:#868686">53731</span> BTC</td>
                                <td>11.044<span style="color:#868686">9482</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7184.594 USD</td>
                                <td>0.001<span style="color:#868686">53731</span> BTC</td>
                                <td>11.044<span style="color:#868686">9482</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7184.594 USD</td>
                                <td>0.001<span style="color:#868686">53731</span> BTC</td>
                                <td>11.044<span style="color:#868686">9482</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7184.594 USD</td>
                                <td>0.001<span style="color:#868686">53731</span> BTC</td>
                                <td>11.044<span style="color:#868686">9482</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7184.594 USD</td>
                                <td>0.001<span style="color:#868686">53731</span> BTC</td>
                                <td>11.044<span style="color:#868686">9482</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7184.594 USD</td>
                                <td>0.001<span style="color:#868686">53731</span> BTC</td>
                                <td>11.044<span style="color:#868686">9482</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7183.916 USD</td>
                                <td>0.001<span style="color:#868686">70787</span> BTC</td>
                                <td>12.269<span style="color:#868686">19461</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7183.916 USD</td>
                                <td>0.001<span style="color:#868686">53752</span> BTC</td>
                                <td>11.045<span style="color:#868686">41452</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7183.916 USD</td>
                                <td>0.001<span style="color:#868686">53752</span> BTC</td>
                                <td>11.045<span style="color:#868686">41452</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7182.229 USD</td>
                                <td>0.003<span style="color:#868686">8289</span> BTC</td>
                                <td>27.500<span style="color:#868686">03661</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7182.228 USD</td>
                                <td>0.001<span style="color:#868686">5378</span> BTC</td>
                                <td>11.044<span style="color:#868686">83021</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7182.228 USD</td>
                                <td>0.001<span style="color:#868686">5378</span> BTC</td>
                                <td>11.044<span style="color:#868686">83021</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7182.228 USD</td>
                                <td>0.001<span style="color:#868686">5378</span> BTC</td>
                                <td>11.044<span style="color:#868686">83021</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7182.228 USD</td>
                                <td>0.001<span style="color:#868686">5378</span> BTC</td>
                                <td>11.044<span style="color:#868686">83021</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7182.228 USD</td>
                                <td>0.001<span style="color:#868686">36115</span> BTC</td>
                                <td>9.776<span style="color:#868686">08964</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7182.228 USD</td>
                                <td>0.001<span style="color:#868686">5378</span> BTC</td>
                                <td>11.044<span style="color:#868686">83021</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7182.228 USD</td>
                                <td>0.001<span style="color:#868686">5378</span> BTC</td>
                                <td>11.044<span style="color:#868686">83021</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7179.834 USD</td>
                                <td>0.02 BTC</td>
                                <td>143.596<span style="color:#868686">68</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7179 USD</td>
                                <td>0.056<span style="color:#868686">13879</span> BTC</td>
                                <td>403.020<span style="color:#868686">37341</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="31 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7169 USD</td>
                                <td>0.029<span style="color:#868686">9</span> BTC</td>
                                <td>214.353<span style="color:#868686">1</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="59 sec. ago">02.11.17 19:01</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7163.129 USD</td>
                                <td>0.000<span style="color:#868686">13093</span> BTC</td>
                                <td>0.937<span style="color:#868686">86847</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="1 min. ago">02.11.17 19:00</span></td>
                                <td><b style="color:red">Sell</b></td>
                                <td>7151.17 USD</td>
                                <td>1.082<span style="color:#868686">3</span> BTC</td>
                                <td>7739.711<span style="color:#868686">291</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="1 min. ago">02.11.17 19:00</span></td>
                                <td><b style="color:red">Sell</b></td>
                                <td>7157.065 USD</td>
                                <td>0.484<span style="color:#868686">2807</span> BTC</td>
                                <td>3466.028<span style="color:#868686">44814</span> USD</td>
                            </tr>
                            <tr>
                                <td><span title="1 min. ago">02.11.17 19:00</span></td>
                                <td><b style="color:green">Buy</b></td>
                                <td>7163.129 USD</td>
                                <td>0.001<span style="color:#868686">37</span> BTC</td>
                                <td>9.813<span style="color:#868686">48673</span> USD</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <% include include/left-navigation %>
    </div>

    <% include include/footer %>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script language="javascript" src="js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $("ul.menu").find("a").each(function() {
            $(this)[0].className = '';
        })

        $("ul.menu").find("a").eq(0).addClass("menuhover main-s main-s-navhover_bg");
    })
</script>
</html>
