<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include include/header %>

<div class="container" style="padding: 0px; margin-top: 5px;">
    <div class="block">
        <%if (message) { %>
        <div class="alert alert-danger fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <%= message %>
        </div>
        <% } %>

        <form id="reg_form" action="/reset-password" method="post" autocomplete="off">
            <table style="width: 450px; margin: auto;" class="tabla">
                <tbody>
                <tr>
                    <td colspan="2"><b>Please reset your Password.</b></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type="password" id="inputPassword" name="password" maxlength="16" class="reg_input" value="" required>
                        <input type="hidden" name="token" value="<%= token %>" />
                    </td>
                </tr>
                <tr>
                    <td>Retype Password:</td>
                    <td>
                        <input type="password" name="confirm_password" maxlength="16" class="reg_input" data-match="#inputPassword" required>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" colspan="2">
                        <button class="button center" type="submit" style="display: inline-block;">Submit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<% include include/footer %>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script language="javascript" src="js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $("ul.menu").find("a").each(function() {
            $(this)[0].className = '';
        })
    })
</script>
</html>
