<div id="footer">
    <div id="footer-content" class="container padding-0">
        <div style="width: 550px; float:left;">
            <p class="copyrights  margin-top-0">Copyright © 2017 WEX. All rights reserved.</p>

            <p class="copyrights margin-top-0">
                <a href="https://wex.nz/news">News</a> |
                <a href="https://wex.nz/page/1">Terms of use</a> |
                <a href="https://wex.nz/page/2">AML</a> |
                <a href="https://wex.nz/fees">Fees</a>
            </p>

            <p class="copyrights margin-top-0">
                <a href="https://wex.nz/api/3/docs">Public API</a> |
                <a href="https://wex.nz/tapi/docs">Trade API</a> |
                <a href="https://wex.nz/pushAPI/docs">Push API</a>
            </p>
        </div>

        <div style="width: 450px; float:left; text-align: right;"></div>

        <div class="clear"></div>
    </div>
</div>