<div class="block"><h3>Our advantages:</h3>
    <ul style="margin-left: 15px;padding-left: 10px; margin-bottom: 10px;">
        <li>Trading in automatic mode.</li>
        <li>Addition USD deposits within 24 hour</li>
        <li>Instant deposit/withdrawal all coin</li>
        <li>USD Withdrawal within 72 hours</li>
    </ul>
</div>