<div class="block">
    <script>chat_ignored = {};</script>

    <div id="nChatCon">
        <div id="nChatSettings">
            <a href="https://wex.nz/disableChat">disable chat</a> | <a href="javascript:void(0)" onclick="nChatSettingsIgnoreShow()">ignore-list</a>
        </div>

        <a href="javascript:void(0)" onclick="nChatSettingsToggle()">
            <img src="https://wex.nz/images/1px.png" class="main-s main-s-settings" style="position:absolute;margin-left:268px;margin-top:3px" alt="settings">
        </a>

        <div id="nChatSettingsIgnore">
            <p><b>Users in the ignore-list:</b></p>
            <div id="nChatIgnoreUsers"></div>
            <div id="nChatNoIgnoreText" style="display:none">There is no users in ignore-list.</div>
            <a href="javascript:void(0)" onclick="nChatSettingsIgnoreHide()" style="margin-left:91px" class="button minibutton">Close</a>
        </div>

        <div id="nChat">
            <p id="msg365681" class="chatmessage uid242190">
                <a title="02.11.17 18:34:02" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(242190, &quot;BiteRate&quot;, 365681, event)">BiteRate</a>:
                <span>Its closed too...</span>
            </p>
            <p id="msg365682" class="chatmessage uid35983">
                <a title="02.11.17 18:34:16" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(35983, &quot;monkeymaker&quot;, 365682, event)">monkeymaker</a>:
                <span>my bot, however, regularly beats n00bs senseless and takes all their day job money</span>
            </p>
            <p id="msg365686" class="chatmessage uid35983">
                <a title="02.11.17 18:34:40" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(35983, &quot;monkeymaker&quot;, 365686, event)">monkeymaker</a>:
                <span>lol how</span>
            </p>
            <p id="msg365688" class="chatmessage uid174547">
                <a title="02.11.17 18:34:49" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(174547, &quot;spikeuk32&quot;, 365688, event)">spikeuk32</a>:
                <span>...dont mean sh!t though cos they registered amazonbitcoin.com back in 2013 or similar....</span>
            </p>
            <p id="msg365689" class="chatmessage uid958208">
                <a title="02.11.17 18:34:49" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(958208, &quot;shortyz&quot;, 365689, event)">shortyz</a>:
                <span>ya</span></p>
            <p id="msg365695" class="chatmessage uid35983">
                <a title="02.11.17 18:35:21" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(35983, &quot;monkeymaker&quot;, 365695, event)">monkeymaker</a>:
                <span>kewl domainnames</span></p>
            <p id="msg365696" class="chatmessage uid174547">
                <a title="02.11.17 18:35:23" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(174547, &quot;spikeuk32&quot;, 365696, event)">spikeuk32</a>:
                <span>to volitile for amazon</span></p>
            <p id="msg365698" class="chatmessage uid174547">
                <a title="02.11.17 18:35:34" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(174547, &quot;spikeuk32&quot;, 365698, event)">spikeuk32</a>:
                <span>amazonpeepeecoin.com</span></p>
            <p id="msg365702" class="chatmessage uid958208">
                <a title="02.11.17 18:35:55" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(958208, &quot;shortyz&quot;, 365702, event)">shortyz</a>:
                <span>i boguht like 2 eth worth</span></p>
            <p id="msg365706" class="chatmessage uid310249">
                <a title="02.11.17 18:36:28" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(310249, &quot;moses703&quot;, 365706, event)">moses703</a>:
                <span>why would amazon accept btc, when no ones going to spend it?</span></p>
            <p id="msg365708" class="chatmessage uid242190">
                <a title="02.11.17 18:36:53" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(242190, &quot;BiteRate&quot;, 365708, event)">BiteRate</a>:
                <span>shortyz, strong work. I thought it was a joke lol</span></p>
            <p id="msg365710" class="chatmessage uid225648">
                <a title="02.11.17 18:37:06" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(225648, &quot;efarah&quot;, 365710, event)">efarah</a>:
                <span>btc is not meant to be used only jews</span></p>
            <p id="msg365712" class="chatmessage uid310249">
                <a title="02.11.17 18:37:22" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(310249, &quot;moses703&quot;, 365712, event)">moses703</a>:
                <span>people have to pay $20 to pay for $10 of stuff using btc</span></p>
            <p id="msg365713" class="chatmessage uid174547">
                <a title="02.11.17 18:37:28" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(174547, &quot;spikeuk32&quot;, 365713, event)">spikeuk32</a>:
                <span>they wont its all bs</span></p>
            <p id="msg365714" class="chatmessage uid242190">
                <a title="02.11.17 18:37:30" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(242190, &quot;BiteRate&quot;, 365714, event)">BiteRate</a>:
                <span>I thought it was made up when General Tso was going on a bout it</span></p>
            <p id="msg365718" class="chatmessage uid63081">
                <a title="02.11.17 18:38:11" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(63081, &quot;zeeblefritz&quot;, 365718, event)">zeeblefritz</a>:
                <span>is wex tracked on any site like bitcoinwisdom ?</span></p>
            <p id="msg365721" class="chatmessage uid162455">
                <a title="02.11.17 18:38:24" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(162455, &quot;calen153&quot;, 365721, event)">calen153</a>:
                <span>nvc going over $6 finally</span></p>
            <p id="msg365723" class="chatmessage uid304805">
                <a title="02.11.17 18:38:31" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(304805, &quot;Carpediem&quot;, 365723, event)">Carpediem</a>:
                <span>zeeblefritz, cryptowat.ch</span></p>
            <p id="msg365726" class="chatmessage uid63081">
                <a title="02.11.17 18:38:51" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(63081, &quot;zeeblefritz&quot;, 365726, event)">zeeblefritz</a>:
                <span>thanks</span></p>
            <p id="msg365731" class="chatmessage uid1054580">
                <a title="02.11.17 18:39:33" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(1054580, &quot;yKtiGqICfxiJ&quot;, 365731, event)">yKtiGqICfxiJ</a>:
                <span>Nvc 6,8 8 13.5</span></p>
            <p id="msg365732" class="chatmessage uid63081">
                <a title="02.11.17 18:39:40" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(63081, &quot;zeeblefritz&quot;, 365732, event)">zeeblefritz</a>:
                <span>omg what cancer the site wants me to install an extention as an ad before i get to the site.</span>
            </p>
            <p id="msg365746" class="chatmessage uid740952">
                <a title="02.11.17 18:41:10" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(740952, &quot;darkturing&quot;, 365746, event)">darkturing</a>:
                <span>zeeblefritz, no such thing asked on my end. What browser you use?</span>
            </p>
            <p id="msg365750" class="chatmessage uid740952">
                <a title="02.11.17 18:41:23" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(740952, &quot;darkturing&quot;, 365750, event)">darkturing</a>:
                <span>(please don't say edge/ie)</span>
            </p>
            <p id="msg365753" class="chatmessage uid196415">
                <a title="02.11.17 18:41:40" style="color: #8da0b9; font-weight: bold;" href="javascript:void(0)" onclick="nChatMenu(196415, &quot;Darkoofthedark&quot;, 365753, event)">Darkoofthedark</a>:
                <span>lol who the hell uses IE anymore</span>
            </p>
        </div>

        <div id="nChatRefreshBtn" class="inblock" style="display:none; width:282px; padding: 3px 0 3px 3px; position:absolute; margin-top:-28px; background:#ededed">
            Chat refresh is disabled.
            <a href="javascript:void(0)" onclick="nChatEnableRefresh()"> Enable</a>
        </div>

        <div id="nChatErrors"></div>

        <div id="nChatLockIcon" class="main-s main-s-lock" style="display: block;"></div>
        Sign in to write.
        <input type="hidden" id="nChat-lm" value="1509638520">
        <input id="chat-token" type="hidden" value="">
    </div>

    <div id="cMenu" class="popup block">
        <div id="cMenuH"></div>

        <div style="display: none;">
            <p id="cMenuProfile-text">Profile</p>
            <p id="cMenuInChat-text">Answer</p>
            <p id="cMenuPM-text">Send PM</p>
            <p id="cMenuBan-text">Ban</p>
            <p id="cMenuDel-text">Delete</p>
            <p id="cMenuIgnore-text">Ignore</p>
        </div>

        <span id="cMenuProfile"></span>
    </div>
</div>