<div class="block">
    <h3>Redeemed tokens:</h3>
    <p>USDET: 4.07%</p>
    <p>BTCET: 5.09%</p>
    <p>LTCET: 1.65%</p>
    <p>NMCET: 11.99%</p>
    <p>RURET: 9.38%</p>
    <p>EURET: 3.92%</p>
    <p>NVCET: 2.30%</p>
    <p>PPCET: 3.43%</p>
    <p>DSHET: 6.77%</p>
    <p>ETHET: 8.72%</p>
    <p>BCHET: 3.58%</p>
</div>