<div class="block">
    <div id="users-online"><p>Users online: 4916 Bots: 718</p>
        <p>Active users daily: 17175</p>
        <p>Users total: 1138599</p>
        <p>Daily trade volume: 60,589,147 USD</p>
    </div>
</div>